.nav {
  grid-column: 3/4;
  display: flex;
  justify-content: flex-end;
}

.nav a {
  /* margin-right: 3rem; */
  margin: 1rem 3rem 0 0;
  font-size: calc(18px+0.5vw);
  color: var(--black);
  font-weight: 300;
  transition: all 0.4s ease-in;
  border-bottom: solid var(--main-color) 2px;
  padding-bottom: -0.2rem;
}

.nav a:hover {
  border-bottom: solid var(--highlight) 2px;
}

.nav-logo {
  display: grid;
  grid-template-columns: 2fr 16fr 10fr 1fr;
  margin-top: 1rem;
}

.logo-wrapper {
  grid-column: 2/3;
}

.logo {
  width: 45px;
}

.content {
  display: grid;
  grid-template-columns: 2fr 20fr 6fr 1fr;
  scroll-behavior: smooth;
}

.intro {
  grid-column: 2/4;
  padding-top: 12em;
  height: 85vh;
}

.intro p, .contact p {
  padding-top: 1.5rem;
}

.see-project {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.see-project p {
  font-size: 1rem;
  font-weight: 300;
  margin: 0 0 0.5rem 0;
}

#arrow {
  padding-bottom: 1rem;
}
/* .see-project svg {
  fill: var(--black);
}

.see-project svg:hover {
  fill: var(--highlight);
} */

.project {
  grid-column: 2/4;
  margin-top: 5em;
  border-top: solid 0.2rem var(--black);
}

.project h3 {
  border-bottom: solid 0.2rem var(--black);
  margin: 0;
  padding: 2rem 0;
  font-size: calc(48px + 1.5VW);
  font-weight: 400;
  color: var(--black);
  display: block;
  /* transition: -webkit-text-stroke 1s ease-in-out; */
  transition: all 0.3s ease-in;
  -webkit-text-stroke: 1.5px var(--black);
  letter-spacing: 0.1rem;
}

.project p {
  border-bottom: solid 0.2rem var(--black);
  margin: 0;
  padding: 2rem 0;
  font-size: calc(48px + 1.5VW);
  font-weight: 400;
  color: var(--black);
  display: block;
  letter-spacing: 0.1rem;
}

.project span {
  font-size: 20px;
  font-weight: 300;
  -webkit-text-stroke: initial;
}

.title h3:hover {
  color: transparent;
  -webkit-text-stroke: 1.5px var(--highlight);
  border-bottom: solid 0.2rem var(--highlight);
}

.contact {
  grid-column: 2/4;
  padding: 16rem 0 8rem 0;
}



@media screen 
  and (min-device-width: 1824px) {
    .see-project {
      margin-top: 16rem;
    }
  }

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {
    .intro {
      padding-top: 6rem;
    }

    .see-project {
      margin-top: 6rem;
    }
  }

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .intro {
      padding-top: 4rem;
    }

    .see-project {
      margin-top: 6rem;
    }

    .project h3 {
      font-weight: 500;
    }
}

@media screen and (max-width: 480px) {
  .contactBtn {
    display: none;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    scroll-behavior: smooth;
  }

  .intro {
    grid-column: 2/3;
    padding-top: 4rem;
    height: 85vh;
  }

  .intro p br {
    display: none;
  }

  .project {
    grid-column: 2/3;
  }

  .project span {
    font-size: 12px;
  }

  .contact {
    grid-column: 2/3;
    padding: 8rem 0;
  }

  .contact p br{
    display: none;
  }
}