.content {
  display: grid;
  grid-template-columns: 2fr 20fr 6fr 1fr;
  scroll-behavior: smooth;
}

.intro {
  grid-column: 2/4;
  padding-top: 12em;
  height: 85vh;
}

.see-project {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.see-project a {
  border: 2px var(--black) solid;
  border-radius: 50%;
  padding: 2rem;
  overflow: hidden;
}

.see-project a:hover {
  border: 2px var(--highlight) solid;
}

/* .see-project svg {
  fill: var(--black);
}

.see-project svg:hover {
  fill: var(--highlight);
} */

.project {
  grid-column: 2/4;
  margin-top: 5em;
  border-top: solid 0.2rem var(--black);
}

.project h1 {
  border-bottom: solid 0.2rem var(--black);
  margin: 0;
  padding: 2rem 0;
}
.project a {
  border-bottom: solid 0.2rem var(--black);
  margin: 0;
  padding: 2rem 0;
  font-size: calc(48px + 1.5VW);
  font-weight: 400;
  color: var(--black);
  display: block;
  /* transition: -webkit-text-stroke 1s ease-in-out; */
  transition: all 0.3s ease-in;
  -webkit-text-stroke: 1.5px var(--black);
}

.project a:hover {
  color: transparent;
  -webkit-text-stroke: 1.5px var(--highlight);
  border-bottom: solid 0.2rem var(--highlight);
}

.contact {
  grid-column: 2/4;
  padding: 16rem 0 8rem 0;
}