.cross {
  display: flex;
  justify-content: flex-end;
  grid-column: 4/5;
  margin: 0 0 -2rem 0;
  opacity: 0;
}

.cross a {
  font-size: 58px;
  font-weight: 200;
  transform: rotateZ(45deg);
  transition: all 0.2s ease-in;
}

.cross a:hover {
  color: var(--highlight);
}

.content-jamin {
  display: grid;
  grid-template-columns: 1fr 7fr 5fr 1fr;
  grid-gap: 8rem 0;
  margin-bottom: 16rem;
}

.content-jamin p {
  font-size: calc(14px + 0.5vw);
}

.top-section {
  grid-column: 2/4;
}

.line-top {
  border-top: 2px solid var(--black);
  grid-column: 2/4;
}

.line-bottom {
  border-top: 2px solid var(--black);
  grid-column: 2/4;
}

.project-info {
  grid-column: 2/4;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* border-top: solid var(--black) 2px; */
  /* border-bottom: solid var(--black) 2px; */
}

.project-info h1 {
  margin: 30px 0 10px 0;
}

.project-info p {
  font-size: 16px;
}

.year {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

.team {
  text-align: right;
  margin-left: 30px;
}

.overview {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-gap: 3rem;
  align-items: center;
}

.overview p {
  grid-column: 1/2;
}

.overview img {
  grid-column: 2/3;
  justify-self: end;
  width: 90%;
  object-fit: cover;
  border-radius: 2px;
}

.details {
  grid-column: 2/4;
  display: grid;
  grid-gap: 10rem 0;
  /* grid-template-columns: repeat(12, 1fr); */
}

.details h2 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 2rem;
}

.details > div {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.descr-01 img, .descr-03 img {
  grid-column: 1/8;
  width: 100%;
}

.descr-01 div, .descr-03 div {
  grid-column: 9/13;
}

.descr-text {
  opacity: 0;
  transform: translateY(25px);
  transition: 0.5s all ease-in-out;
}

.descr-appear {
  opacity: 1;
  transform: translateY(0px);
}

.descr-02 img, .descr-04 img {
  grid-column: 6/13;
  width: 100%;
}

.descr-02 div, .descr-04 div {
  grid-column: 1/5;
  text-align: right;
}


/* media queries */

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {
  .cross {
    margin: 0rem 0 -2rem 0;
  }

}

@media (max-width: 480px) {
  .cross {
    margin: -2rem 0 0 0;
    opacity: 100;
  }

  .back {
    opacity: 0;
  }

  .back a {
    margin: 0;
  }

  .project-info p, .details p {
    font-size: inherit;
    font-weight: 400;
  }

  .content-jamin {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    grid-gap: 4rem 0;
  }

  .content-jamin p {
    line-height: 1.8em;
  }

  .top-section::before {
    content: "Jamin";
    font-size: 3rem;
    letter-spacing: 0.1rem;
  }

  .top-section {
    grid-column: 2/3;
    margin-top: -0.5rem;
  }

  .line-top {
    grid-column: 2/3;
    margin-top: 2rem;
  }
  
  .project-info {
    grid-column: 2/3;
  }

  .project-info h1 {
    display: none;
  }

  .year {
    display: block;
    padding-top: 1rem;
  }

  .team {
    margin: 0;
    text-align: right;
  }

  .overview {
    grid-column: 2/3;
    display: flex;
    flex-direction: column-reverse;
  }

  .overview p {
    grid-column: 1/2;
    padding-top: 1rem;
  }

  .overview img {
    grid-column: 1/2;
    width: 100%;
  }

  .details {
    grid-column: 2/3;
    grid-template-columns: 1fr;
    grid-gap: 5rem;
    margin-top: 2rem;
  }

  .details h2 {
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: 500;
  }

  .details img {
    width: 100%;
  }

  .details > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .details .descr-02, .details .descr-04 {
    flex-direction: column-reverse;
  }

  .descr-02 div, .descr-04 div {
    text-align: left;
  }
}

@media (max-width: 370px) {
  .project-info p {
    font-size: 12px;
  }
}