<div class="back">
  <%= link_to "<< Back", root_path %>
</div>
<div class="content-about">
  <%# <div class="line-top "></div> %>

  <div class="about-photo-descr">
    <div class="about-photo">
      <%= image_tag "profile-side.png" %>
    </div>
    <div class="about-descr">
      <h1>A little about me</h1>
      <p>I'm a full-stack developer with a design background.
      With a strong interest in building digital products and services, 
      I started learning coding and recently graduated from a Web Development Bootcamp. 
      By combining both coding and design skills, I’m aiming to create meaningful experiences through web applications. </p>
    </div>
  </div>

  <%# <div class="line-bottom"></div> %>
 </div>
