<div class="content">
  <div class="intro" id="about">
    <h1>Hello, <br> it’s Hung-Chen</h1>
    <p>I am a full stack developer based in Berlin, <br> helping to create meaningful experiences <br>
        through
        web applications.
    </p>
  </div>

  <div class="project" id="project">
    <a href="#">Jamin</a>
    <a href="#">Bnboo</a>
  </div>

  <div class="contact" id="contact">
    <h1>Contact</h1>
    <p>I’m currently looking for job opportunities, <br> so feel free to drop me a line at <br>
        fuhungchen@gmail.com
    </p>
  </div>
</div>