<div class="content-jamin">
  <div class="project-info">
    <h1>Jamin</h1>
    <p>Year: 2020</p>
    <p>Team: </p>
    <p>Olivier Girardot, Leoni Sperling, Florian Gaebler, Hung-Chen Fu</p>
  </div>
  <div class="overview">
    <p>Jamin is a platform that helps connect musicians to play and enjoy music together through jam sessions. Musicians can create jam sessions or simply join one. <br> I was responsible for designing the user interface of the website, prototyping and built user dashboard and review feature.</p>
    <img src="https://source.unsplash.com/random/430x320" alt="">
  </div>
  <div class="details">
    <h2>01 | FIND A JAM SESSION</h2>
    <P>Based on instrument, genre, and date, Jamin helps users find the best jam session in their area.</P>
    <img src="https://source.unsplash.com/random/800x400" alt="">
  </div>
  
  <div class="details">
    <h2>02 | DISCOVER</h2>
    <img src="https://source.unsplash.com/random/800x400" alt="">
  </div>

  <div class="details">
    <h2>03 | JOIN</h2>
    <img src="https://source.unsplash.com/random/800x400" alt="">
  </div>

  <div class="details">
    <h2>04 | READY TO JAM</h2>
    <p>Users can check upcoming jam session or write a review for the jam session they participated before.</p>
    <img src="https://source.unsplash.com/random/800x600" alt="">
  </div>
</div> 